@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0f9d58;
  --primary-hover: #57bb8a;
  --text-on-primary: #fff;
  --secondary: #b5b6b7;
  --secondary-hover: #5f6368;
  --text-on-secondary: #fff;
  --gray-100: #b5b6b7;
  --gray-200: #a1a1a1;
  --base: #fff;
  --text: #1e1e1e;
}

.dark {
  --primary: #0f9d58;
  --hover-primary: #57bb8a;
  --text-on-primary: #fff;
  --secondary: #5f6368;
  --secondary-hover: #b5b6b7;
  --text-on-secondary: #fff;
  --gray-100: #b5b6b7;
  --gray-200: #a1a1a1;
  --base: #212324;
  --text: #fff;
}

body {
  color: var(--text);
  background: var(--base);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
